.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #2e2d2d;
  align-items: center;
}

.nav .link {
  color: white;
  padding: 1.5rem;
  text-decoration: none;
}

nav .link:hover,
.link:focus {
  color: gray;
}

nav > .link:nth-of-type(2) {
  margin-right: auto;
}

.nav .img {
  margin-right: 1rem;
}
