.comment {
  background-color: white;
  opacity: 0.7;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.h2 {
  color: rgb(32, 86, 178);
  margin-top: 2rem;
}

.showResult {
  text-align: center;
  color: rgb(32, 86, 178);
}


.input{
  width: 50%;
  text-align: center;
}
