.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: white;
  padding: 3rem;
  opacity: 0.7;
  border-radius: 10px;
}

.input,
.select {
  padding: 1rem 3rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 2rem;
  width: 100%;
}

.smallForm {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.nextComp {
  background-color: green;
  font-weight: 800;
}

.showResult {
  text-align: center;
  color: rgb(32, 86, 178);
}

.backgroundGreen {
  background-color: green;
}

.backgroundRed {
  background-color: red;
}

.selectWrapper {
  display: flex;
  align-items: center;
  gap: 1rem; /* Adjust the gap as needed */
}

.number {
  border-radius: 50px;
  border: solid black 0.5rem;
  width: 5rem;
  text-align: center;
}
.ul{
  margin-left: 5rem;
}

.h3{
  margin-left: 2rem;
}