.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 3rem;
  opacity: 0.7;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.input {
  padding: 1rem 3rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 2rem;
  width: 100%;
}

.smallForm {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: -4rem;
}

.showResult {
  text-align: center;
  color: rgb(32, 86, 178);
}
