<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restart Password</title>
    <style>
      /* general */
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html {
        font-size: 62.5%;
      }

      body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight: 400;
      }

      /* main, header, footer placement */
      body {
        text-align: center;
        width: 97%;
        padding: 0.1rem 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
      }

      /* placement for other devices */
      @media (max-width: 600px) {
        nav {
          font-size: 1.9rem;
        }
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      status = '<%- JSON.stringify(status) %>';
      // check if the user is verify
      if (JSON.parse(status) === 'not good password') {
        alert('not good');
      }
      if (JSON.parse(status) === 'verified') {
        if (confirm('Password have Change , Do you want to signIn?')) {
          window.location.href = 'http://localhost:3000/';
        }
      }
    </script>
  </head>
  <body>
    <!-- when the user is verify the code will transfer to this location -->
    <h1><%= email%></h1>
    <p>Fill a new password</p>
    <form id="myForm" action="" method="post">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="new password"
        required
      />

      <input type="submit" value="Change" />
    </form>
  </body>
</html>
