<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restart Password</title>
    <script>
      const status = '<%- JSON.stringify(status) %>';
      // check if the user is verify
      if (JSON.parse(status) === 'verified') {
        if (confirm('Do you want to login?')) {
          window.location.href = 'http://localhost:3000/';
        }
      }
    </script>
  </head>
  <body>
    <!-- when the user is verify the code will transfer to this location -->
    <h1><%= email%></h1>
    <form action="" method="post">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <input
        type="new password"
        name="confirm new password"
        id="confirm new password"
        placeholder="confirm-password"
      />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
