.section {
  text-align: center;
  opacity: 0.7;
  background-color: white;
  border-radius: 25px;
  border: 2px solid rgb(32, 86, 178);
  padding: 20px;
  align-items: center;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: rgb(32, 86, 178);
}

.link:hover {
  color: gray;
}

.p {
  color: orange;
  font-size: 5rem;
}
